- var pageTitle = "Despre noi"

html
	head
		include headerMeta
		link(rel="stylesheet" type="text/css" href="/css/about-us.css")
		
	body
		.fixed-header-background
		.wrapper
			include header
			include slider

			section
				.title CARPATSOFT
			section.company
				img(src="/img/our-company.png")
				.col-title Compania noastră
				p
					span C
					|arpatsoft it's a Romanian web development company that was founded in 2015. We are an enthusiastic company trying to |bring quality web services at affordable prices for small, medium and big companies.
					br
					|At Carpatsoft we offer high quality, well-established and effective web development process, flexibility, confidentiality and transparent communication. 
					br
					|Carpatsoft it’s a company that offers complete online services such as Web Development, Web Design, Web Applications Development, Search Engine Optimization (SEO), Consultancy for websites, Hosting, Logo Design, Graphic design, Animations, Video Editing, Photography.
					br
					br
					|We are able to provide the best solutions even starting from incomplete and less defined specifications given to us.
					br
					br
					|Carpatsoft has its headquarters in Cluj-Napoca, one of the largest and most intercultural Romanian cities in the heart of Transylvania. 
					
			

			section.team
				img(src="/img/our-team.png")
				.col-title Echipa noastră
				p
					span H
					|armony, good communication, happiness are the attributes that defines how working at Carpatsoft is. We have a team of high skilled experts working together as one. We have a passionate team, who consider their job as their passion.
					br
					|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus molestie lectus nisl, ut tempor turpis euismod at. Praesent vel augue nec lorem rutrum dictum id
					|vel nulla. In et faucibus nibh. Cras consectetur dolor at fermentum suscipit. Suspendisse placerat sem viverra nisl malesuada gravida. Mauris in elit eu turpis
					|auctor varius. Maecenas neque urna, porttitor ac lacus ut, interdum dapibus eros. Integer hendrerit, tortor non venenatis vehicula, ante sapien dignissim orci, ut
					|efficitur leo quam et nulla.

			section.mission
				img(src="/img/our-mission.png")
				.col-title Misiunea noastră
				p
					span S
					|raesent id imperdiet lacus, eget feugiat elit. Aenean in tortor rutrum nulla tristique venenatis. Nullam condimentum velit odio, ut dignissim ligula 
					|commodo non. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec lacus nisi, sollicitudin et pretium  
					|bibendum id mauris. Suspendisse eu suscipit libero, eget congue turpis. Mauris pulvinar dolor non pretium finibus. Ut ultrices sed diam quis 
					|fermentum. Praesent ac tincidunt erat.
					br
					br
					|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus molestie lectus nisl, ut tempor turpis euismod at. Praesent vel augue nec lorem rutrum dictum id
					|vel nulla. In et faucibus nibh. Cras consectetur dolor at fermentum suscipit. Suspendisse placerat sem viverra nisl malesuada gravida. Mauris in elit eu turpis
					|auctor varius. Maecenas neque urna, porttitor ac lacus ut, interdum dapibus eros. Integer hendrerit, tortor non venenatis vehicula, ante sapien dignissim orci, ut
					|efficitur leo quam et nulla.
					br
					br
					|Praesent id imperdiet lacus, eget feugiat elit. Aenean in tortor rutrum nulla tristique venenatis. Nullam condimentum velit odio, ut dignissim ligula commodo non.
					|Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec lacus nisi, sollicitudin et pretium quis, bibendum id mauris.
					|Suspendisse eu suscipit libero, eget congue turpis. Mauris pulvinar dolor non pretium finibus. Ut ultrices sed diam quis fermentum. Praesent ac tincidunt erat.
					|Donec maximus interdum dolor, eu molestie tellus rutrum quis. Curabitur quis porta metus. Phasellus eleifend in tellus eget consectetur.
					br
					br
					|Cras id hendrerit ipsum, at maximus urna. Phasellus ut bibendum elit, ut commodo elit. Mauris quis sem in nunc eleifend commodo. Suspendisse dignissim erat
					|posuere nulla placerat egestas eu in ex. Suspendisse vel libero a dolor faucibus blandit. Praesent luctus convallis feugiat. Nam id magna eget sapien imperdiet
					|commodo. Suspendisse eget odio accumsan, tempus orci eu, lacinia velit. Fusce iaculis egestas sodales. In venenatis fringilla massa, id pharetra eros maximus
					|nec. Proin non eros mi. In in congue sem. Phasellus posuere ut diam nec interdum. Ut porttitor lectus massa, id finibus risus pharetra sit amet. Fusce vitae felis
					|quam.

			section.friends
				img(src="/img/our-friends.png")
				.col-title Prietenii noștri
				p
					span C
					|Cras id hendrerit ipsum, at maximus urna. Phasellus ut bibendum elit, ut commodo elit. Mauris quis sem in nunc eleifend commodo. Suspendisse dignissim erat
					|posuere nulla placerat egestas eu in ex. Suspendisse vel libero a dolor faucibus blandit. Praesent luctus convallis feugiat. Nam id magna eget sapien imperdiet
					|commodo. Suspendisse eget odio accumsan, tempus orci eu, lacinia velit. Fusce iaculis egestas sodales. In venenatis fringilla massa, id pharetra eros maximus
					|nec. Proin non eros mi. In in congue sem. Phasellus posuere ut diam nec interdum. Ut porttitor lectus massa, id finibus risus pharetra sit amet. Fusce vitae felis
					|quam.

		footer
			include footer