- var pageTitle = "Blog"

html
	head
		include headerMeta
		link(rel="stylesheet" type="text/css" href="/css/blog.css")
		
	body
		.fixed-header-background
		.wrapper
			include header
			include slider

			section.blog-posts
				:verbatim
					{% for post in site.categories.blog %}
						<article>
							<div class="article-title"> 
								<div class="article-date">
									<div class="date-day">{{ post.date | date: "%d" }}</div>
									<div class="date-month">{{ post.date | date: "%m.%Y" }}</div>
								</div>
								<span class="blog-title"><a href="{{ post.url | prepend: site.baseurl }}" title="Read more about {{ post.title }}">{{ post.title }}</a></span>
							</div>

							<div class="article-content">{{ post.snippet }}</div>

							<div class="article-footer">
							<span class="posted-by">Postat de <span>{{post.author}}</span></span>
							<span class="fb-comments-count" data-href="http://carpatsoft.com{{ post.url }}"></span> comments
							<a href="{{ post.url | prepend: site.baseurl }}" title="Citește mai mult." class="btn-blue btn-section">Mai mult</a></div>
						</article>
					{% endfor %}

		footer
			include footer