.container
	.col-4
		.title CARPATSOFT
		nav
			a(href="/" alt="Carpatsoft Home") ACASĂ
			a(href="/services" alt="Carpatsoft Services") SERVICII
			a(href="/portfolio" alt="Carpatsoft Portfolio") PORTOFOLIU
			a(href="/careers" alt="Carpatsoft Careers") CARIERE
			a(href="/about-us" alt="Carpatsoft About Us") DESPRE NOI
			a(href="/contact" alt="Carpatsoft Contact") CONTACT

	.col-4
		.title SERVICII
		nav
			a(href="/services/web-development" alt="Carpatsoft Dezvoltare Web") Dezvoltare Web
			a(href="/services/web-design" alt="Carpatsoft Design Web") Design Web
			a(href="/services/seo" alt="Carpatsoft Optimizare SEO") Optimizare SEO
			a(href="/services/web-apps" alt="Carpatsoft Aplicații Web") Aplicații Web
			a(href="/services/advertising" alt="Carpatsoft Advertising") Advertising
			a(href="/services/logo-design" alt="Carpatsoft Design Logo") Design Logo
			a(href="/services/graphic-design" alt="Carpatsoft Design Grafic") Design Grafic
	.col-4
		.title PORTOFOLIU
		nav
			a(href="/portfolio/website" alt="Carpatsoft Site-uri Web") Site-uri Web
			a(href="/portfolio/webdesign" alt="Carpatsoft Design Web") Design Web
			a(href="/portfolio/seo" alt="Carpatsoft Optimizare SEO") Optimizare SEO
			a(href="/portfolio/web-apps" alt="Carpatsoft Aplicații Web") Aplicații Web
			a(href="/portfolio/advertising" alt="Carpatsoft Advertising") Advertising
			a(href="/portfolio/logo-design" alt="Carpatsoft Design Logo") Design Logo
			a(href="/portfolio/graphic-design" alt="Carpatsoft Design Grafic") Design Grafic
	.col-4
		img(src="/img/footer-logo.png" alt="Carpatsoft" title="Carpatsoft Logo" description="Logo Carpatsoft")
		.contact-footer
			p C.U.I. 35327812, F30/753/15.12.2015
			p 16, Aleea Brateș, 400566 Cluj Napoca, Cluj, Romania
			p (+40) 730 906 935
			p office@carpatsoft.com
	.subfooter
		.social-icons
			a(href="https://www.facebook.com/carpatsoft/" target="_blank" name="Facebook" alt="Facebook")
				i(class="fa fa-facebook fa-1x")
			//a(href="#" target="_blank" name="Twitter" alt="Twitter")
				//i(class="fa fa-twitter fa-1x")
			//a(href="#" target="_blank" name="Google+" alt="Google+")
				//i(class="fa fa-google-plus fa-1x")
			//a(href="#" target="_blank" name="YouTube" alt="YouTube")
				//i(class="fa fa-youtube fa-1x")
			a(href="https://www.linkedin.com/company/carpatsoft" target="_blank" name="LinkedIn" alt="LinkedIn")
				i(class="fa fa-linkedin fa-1x")
			//a(href="#" target="_blank" name="Dribbble" alt="Dribbble")
				//i(class="fa fa-dribbble fa-1x")
			//a(href="#" target="_blank" name="Behance" alt="Behance")
				//i(class="fa fa-behance fa-1x")
		| &copy; 2015 Carpatsoft

script(type='text/javascript').
	var sc_project=10814986;
	var sc_invisible=1;
	var sc_security="eb890377";
	var scJsHost = (("https:" == document.location.protocol) ?
	"https://secure." : "http://www.");
	document.write("<sc"+"ript type='text/javascript' src='" +
	scJsHost+
	"statcounter.com/counter/counter.js'></"+"script>");

script(src="http://code.jquery.com/jquery-1.11.3.min.js" type="text/javascript")
script(src="/js/index.js" type="text/javascript")
