
.header
	div
		|(+40) 730 906 935
		div.break
		span.desp ;&nbsp;&nbsp;
		|office@carpatsoft.com
	div
		a(href="http://www.carpatsoft.com")
			img(src="/img/en-flag.png" alt="English" title='English Language' description='English version of the Carpatsoft website')
		a(href="http://www.carpatsoft.ro")
			img(src="/img/ro-flag.png" alt="Română" title='Limba Română' description='Varianta în limba română pentru site-ul Carpatsoft')		
	include menu

	.mobile-nav-toggle: span
	.mobile-nav
		include menu
.tint
