- var pageTitle = "Carpatsoft"

html
	head
		include headerMeta
		link(rel="stylesheet" type="text/css" href="css/index.css")
	
	body
		.fixed-header-background
		.wrapper
			include header
			include slider
			include we-do
			include you-get
			include offers
			include contact-cta
		footer
			include footer