section.offers
	h1.title Oferte? Avem.
	.col-3
		.col-1
			.col-content
				img(src='img/domain-offer.jpg' alt="Domeniu Gratis" title='Domeniu gratis' description='Domeniu gratuit pentru toate proiectele')
				h2.title Domeniu gratuit
				.big-number 1
					span an
		.col-1
			.col-content
				img(src='img/hosting-offer.jpg' alt='Hosting Gratuit' title='Host Gratis' description='Gazduire gratuita pentru toate proiectele')
				h2.title Găzduire gratuită
				.big-number 1
					span an
		.col-1
			.col-content
				img(src='img/consulting-offer.jpg' alt='Consultanta Gratuita' title='Consultanta Gratuita' description='Consultanta gratuita pentru toate proiectele')
				h2.title Consultanță gratis
				.big-number 6
					span.last luni
	*după perioada înscrisă domeniile vor costa 9.49€/$12.45/45Ron pe an și găzduirea 1€/$1/5Ron pe lună.
