a(class="portfolio-menu" href="/portfolio") All
a(class="portfolio-menu" href="/portfolio/website") Site-uri Web
a(class="portfolio-menu" href="/portfolio/webdesign") Design Web
a(class="portfolio-menu" href="/portfolio/seo") Optimizare SEO
a(class="portfolio-menu" href="/portfolio/web-apps") Aplicații Web
a(class="portfolio-menu" href="/portfolio/advertising") Advertising
a(class="portfolio-menu" href="/portfolio/graphic-design") Design Grafic
a(class="portfolio-menu" href="/portfolio/logo-design") Design Logo
a(class="portfolio-menu" href="/portfolio/photo-manipulation") Manipulare Foto
a(class="portfolio-menu" href="/portfolio/photography") Fotografie
a(class="portfolio-menu" href="/portfolio/animation") Animație
a(class="portfolio-menu" href="/portfolio/video-editing") Editare Video