- var videoLink = "video/careers"
- var pageTitle = "Services"

html
	head
		include headerMeta
		link(rel="stylesheet" type="text/css" href="/css/services.css")
		
	body
		.fixed-header-background
		.wrapper
			include header
			include slider
			section
				.col-3
					.col-1
						.col-title 
							a(href="/services/web-development" name="Servicii de Dezvoltare Web") Dezvoltare Web
						.col-content 
							a(href="/services/web-development" alt="Servicii de Dezvoltare Web" name="Servicii de Dezvoltare Web")
								img(src="/img/services/web-sites.jpg")
							|Vivamus hendrerit ut libero eu elementum. Aliquam sit amet odio a orci accumsan vestibulum. Phasellus fringilla nec leo at dignissim. Duis arcu est, rutrum et urna vel, rhoncus porttitor mi. Donec ornare, justo mollis efficitur egestas, velit turpis varius risus, feugiat ultricies purus nisi sed purus. Nulla vel lacus congue, placerat eros vel, venenatis mi. Morbi nec ex non enim hendrerit congue sit amet id mi. Cras fermentum dignissim eros id aliquet. Vivamus et sapien nunc. In semper, tortor sed accumsan sollicitudin, mi mauris posuere augue, a lacinia lectus urna eget augue.
					.col-1
						.col-title 
							a(href="/services/web-design" name="Servicii de Design Web") Design Web
						.col-content
							a(href="/services/web-design" alt="Servicii de Design Web" name="Servicii de Design Web")
								img(src="/img/services/web-design.jpg")
							|Sed vulputate eros non erat placerat, ac vulputate lacus porta. Aenean tristique nunc odio, sit amet pretium ipsum condimentum id. Mauris bibendum faucibus erat vel pretium. Quisque vel libero nec lacus molestie tristique nec quis dolor. Sed vestibulum augue magna, convallis tristique nisl interdum non. Donec vehicula arcu sit amet metus vestibulum, et ultrices elit posuere.
					.col-1
						.col-title 
							a(href="/services/seo" name="Servicii de Optimizare SEO") Optimizare SEO
						.col-content 
							a(href="/services/seo" alt="Servicii de Optimizare SEO" name="Servicii de Optimizare SEO")
								img(src="/img/services/seo.jpg")
							|Maecenas non pulvinar elit. Duis lorem metus, sodales ac sem nec, vestibulum laoreet magna. Nam lobortis pulvinar mi pellentesque porta. Pellentesque ac mi vestibulum, semper nunc vestibulum, condimentum mauris. In eget suscipit dui, et sollicitudin dui. Curabitur eu tincidunt metus, quis scelerisque ex. Fusce porttitor tincidunt justo imperdiet consectetur. Ut quam dolor, molestie ac odio eu, lacinia ultrices mauris. Sed pretium nisi eget ipsum tristique euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
					.col-1
						.col-title 
							a(href="/services/web-apps" name="Servicii de Aplicații Web") Aplicații Web
						.col-content
							a(href="/services/web-apps" alt="Servicii de Aplicații Web" name="Servicii de Aplicații Web")
								img(src="/img/services/apps.jpg")
							|Maecenas non pulvinar elit. Duis lorem metus, sodales ac sem nec, vestibulum laoreet magna. Nam lobortis pulvinar mi pellentesque porta. Pellentesque ac mi vestibulum, semper nunc vestibulum, condimentum mauris. In eget suscipit dui, et sollicitudin dui. Curabitur eu tincidunt metus, quis scelerisque ex. Fusce porttitor tincidunt justo imperdiet consectetur. Ut quam dolor, molestie ac odio eu, lacinia ultrices mauris. Sed pretium nisi eget ipsum tristique euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
					.col-1
						.col-title 
							a(href="/services/advertising" name="Servicii reclame") Reclame
						.col-content 
							a(href="/services/advertising" alt="Servicii reclame" name="Servicii reclame")
								img(src="/img/services/ads.jpg")
							|Vivamus hendrerit ut libero eu elementum. Aliquam sit amet odio a orci accumsan vestibulum. Phasellus fringilla nec leo at dignissim. Duis arcu est, rutrum et urna vel, rhoncus porttitor mi. Donec ornare, justo mollis efficitur egestas, velit turpis varius risus, feugiat ultricies purus nisi sed purus. Nulla vel lacus congue, placerat eros vel, venenatis mi. Morbi nec ex non enim hendrerit congue sit amet id mi. Cras fermentum dignissim eros id aliquet. Vivamus et sapien nunc. In semper, tortor sed accumsan sollicitudin, mi mauris posuere augue, a lacinia lectus urna eget augue. 
					.col-1
						.col-title 
							a(href="/services/consulting" name="Servicii de Consultanță Web") Consultanță Web
						.col-content
							a(href="/services/consulting" alt="Servicii de Consultanță Web" name="Servicii de Consultanță Web")
								img(src="/img/services/consulting.jpg")
							|Sed vulputate eros non erat placerat, ac vulputate lacus porta. Aenean tristique nunc odio, sit amet pretium ipsum condimentum id. Mauris bibendum faucibus erat vel pretium. Quisque vel libero nec lacus molestie tristique nec quis dolor. Sed vestibulum augue magna, convallis tristique nisl interdum non. Donec vehicula arcu sit amet metus vestibulum, et ultrices elit posuere.
					.col-1
						.col-title 
							a(href="/services/graphic-design" name="Servicii de Design Grafic") Design Grafic
						.col-content
							a(href="/services/graphic-design" alt="Servicii de Design Grafic" name="Servicii de Design Grafic")
								img(src="/img/services/graphic.png")
							|Maecenas non pulvinar elit. Duis lorem metus, sodales ac sem nec, vestibulum laoreet magna. Nam lobortis pulvinar mi pellentesque porta. Pellentesque ac mi vestibulum, semper nunc vestibulum, condimentum mauris. In eget suscipit dui, et sollicitudin dui. Curabitur eu tincidunt metus, quis scelerisque ex. Fusce porttitor tincidunt justo imperdiet consectetur. Ut quam dolor, molestie ac odio eu, lacinia ultrices mauris. Sed pretium nisi eget ipsum tristique euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
					.col-1
						.col-title 
							a(href="/services/logo-design" name="Servicii de Design Sigle") Design Sigle
						.col-content
							a(href="/services/logo-design" alt="Servicii de Design Sigle" name="Servicii de Design Sigle")
								img(src="/img/services/logo-design.png")
							|Vivamus hendrerit ut libero eu elementum. Aliquam sit amet odio a orci accumsan vestibulum. Phasellus fringilla nec leo at dignissim. Duis arcu est, rutrum et urna vel, rhoncus porttitor mi. Donec ornare, justo mollis efficitur egestas, velit turpis varius risus, feugiat ultricies purus nisi sed purus. Nulla vel lacus congue, placerat eros vel, venenatis mi. Morbi nec ex non enim hendrerit congue sit amet id mi. Cras fermentum dignissim eros id aliquet. Vivamus et sapien nunc. In semper, tortor sed accumsan sollicitudin, mi mauris posuere augue, a lacinia lectus urna eget augue. 
					.col-1
						.col-title 
							a(href="/services/photo-manipulation" name="Servicii de Manipulare Foto") Manipulare Foto
						.col-content
							a(href="/services/photo-manipulation" alt="Servicii de Manipulare Foto" name="Servicii de Manipulare Foto")
								img(src="/img/services/manipulation.jpg")
							|Sed vulputate eros non erat placerat, ac vulputate lacus porta. Aenean tristique nunc odio, sit amet pretium ipsum condimentum id. Mauris bibendum faucibus erat vel pretium. Quisque vel libero nec lacus molestie tristique nec quis dolor. Sed vestibulum augue magna, convallis tristique nisl interdum non. Donec vehicula arcu sit amet metus vestibulum, et ultrices elit posuere.
					.col-1
						.col-title 
							a(href="/services/photography" name="Servicii de Fotografie") Fotografie
						.col-content
							a(href="/services/photography" alt="Servicii de Fotografie" name="Servicii de Fotografie")
								img(src="/img/services/photography.jpg")
							|Maecenas non pulvinar elit. Duis lorem metus, sodales ac sem nec, vestibulum laoreet magna. Nam lobortis pulvinar mi pellentesque porta. Pellentesque ac mi vestibulum, semper nunc vestibulum, condimentum mauris. In eget suscipit dui, et sollicitudin dui. Curabitur eu tincidunt metus, quis scelerisque ex. Fusce porttitor tincidunt justo imperdiet consectetur. Ut quam dolor, molestie ac odio eu, lacinia ultrices mauris. Sed pretium nisi eget ipsum tristique euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
					.col-1
						.col-title 
							a(href="/services/animation" name="Servicii de Animație") Animație
						.col-content
							a(href="/services/animation" alt="Servicii de Animație" name="Servicii de Animație")
								img(src="/img/services/animation.jpg")
							|Maecenas non pulvinar elit. Duis lorem metus, sodales ac sem nec, vestibulum laoreet magna. Nam lobortis pulvinar mi pellentesque porta. Pellentesque ac mi vestibulum, semper nunc vestibulum, condimentum mauris. In eget suscipit dui, et sollicitudin dui. Curabitur eu tincidunt metus, quis scelerisque ex. Fusce porttitor tincidunt justo imperdiet consectetur. Ut quam dolor, molestie ac odio eu, lacinia ultrices mauris. Sed pretium nisi eget ipsum tristique euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

					.col-1
						.col-title 
							a(href="/services/video-editing" name="Servicii de Editare Video") Editare Video
						.col-content
							a(href="/services/video-editing" alt="Servicii de Editare Video" name="Servicii de Editare Video")
								img(src="/img/services/photography.jpg")
							|Maecenas non pulvinar elit. Duis lorem metus, sodales ac sem nec, vestibulum laoreet magna. Nam lobortis pulvinar mi pellentesque porta. Pellentesque ac mi vestibulum, semper nunc vestibulum, condimentum mauris. In eget suscipit dui, et sollicitudin dui. Curabitur eu tincidunt metus, quis scelerisque ex. Fusce porttitor tincidunt justo imperdiet consectetur. Ut quam dolor, molestie ac odio eu, lacinia ultrices mauris. Sed pretium nisi eget ipsum tristique euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

			
		footer
			include footer