.slider-behind
	a(href="{{ page.sliderlink }}")
		img(src="{{ page.sliderimg }}" class="slider-img" alt="Carpatsoft")
	.slider-front
		a(href="index.html" alt='Carpatsoft Home' name='Carpatsoft Home')
			img(src="/img/logo-slider.png" alt="Oferta site in rate")
			div
			span= pageTitle
