section.we-are
	.title Who we are?
	div.col-3.team
		.col-1
			img(src="/img/team/razvan-cuceu.jpg")
			.aside-text
				<span>Răzvan Cuceu</span> CEO & Web Developer
		.col-1
			img(src="/img/team/adriana-opris.jpg")
			.aside-text
				<span>Adriana Opriş</span> Marketing Dept & PR
		.col-1
			img(src="/img/team/flaviu-cuceu.jpg")
			.aside-text
				<span>Flaviu Cuceu</span> Graphic & Web Designer