section.we-do
	h1.title Cu ce ne ocupăm?
	.col-3
		.col-1
			h2.col-title Site-uri web
			.col-content Comunicați simplu și eficient cu clienții dumneavoastră. Prezeantați-le serviciile sau produsele pe care le oferiți printr-un site web. Un site web este probabil cea mai eficientă metodă de a intra în contact cu potențiali clienți, pentru că le puteți pune la dispoziția lor informațiile dumneavoastră de contact, un portofoliu de produse sau proiectele terminate.
		.col-1
			h2.col-title Design web
			.col-content Vreți un site profesionist, ușor navigabil, care ghidează vizitatorii să vă exploreze produsul sau serviciul? Designerii de la Carpatsoft vă ajută să vă conturați un brand și să vă transpuneți afacerea într-un superb site web care demostrează profesionalism și oferă încredere în produsele și serviciile dumneavoastră. O navigare ușoară și un design potrivit atrag întotdeauna atenția înspre afacerea dumneavoastră, ceea ce reprezintă un mare plus.
		.col-1
			h2.col-title Design grafic
			.col-content Orice afacere ar trebui să aibă o identitate vizuală. Asta înseamnă că ar trebui să fie recunoscută după un logo, o culoare, un cuvânt sau un semn. Pentru succesul companiei dumneavoastră, sau pentru crearea unui brand pentru produsul dumneavoastră TREBUIE să aveți o identitate vizuală. Designerii noștri grafici experimentați sunt aici să vă ajute să vă atingeți scopul: să vă faceți clienții să își amintească de dumneavoastră.

	a.btn-blue.btn-section(href="/services" title="Vezi mai mult din ceea ce facem") Toate Serviciile
