section.you-get
	h1.title Ce primiți?
	.col-3
		.col-1
			h2.col-title Calitate
			.col-content Un site bine optimizat este obligatoriu pentru perfecțiunea la care țintim. Un site frumos nu reprezintă nimic dacă nu oferă cea mai bună experiență posibilă. La Carpatsoft garantăm performața produsului nostru cu respectul nostru. Încercăm să găsim de fiecare dată cea mai bună soluție pentru fiecare proiect sau pentru fiecare problemă. Defapt, asta facem: creăm soluții simple la probleme complicate.
		.col-1
			h2.col-title Transparență
			.col-content Transparența este o altă calitate a noastră, deoarece țintim spre a vă ține la curent cu progresul proiectului dumneavoastră. Răspundem la orice întrebare care ține de proiectul dumneavoastră prietenos și cu răbdare și vă dăm control absolut asupra deciziilor care trebuiesc luate.
		.col-1
			h2.col-title Preț scăzut
			.col-content A ține prețul scăzut ne oferă un mare avantaj asupra concurenței. Ne facem serviciile accesibile și companiilor mici, mijlocii sau tinerilor antreprenori, pentru că știm că vreți să vă țineți costurile scăzute, sau dacă sunteți la început de drum pur și simplu nu aveți destui bani. Scrieți-ne.

	//a.btn-blue.btn-section(href="#" title="See all the features") All Features
