
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}"/>
    <meta keywords="{{ page.keywords }}"/>
    <meta property="og:image:url" content="{{ page.ogimg }}"/>
    <meta property="og:type" content="{{ page.ogtype }}"/>
    <meta property="og:description" content="{{ page.description }}"/>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Great+Vibes|Roboto:400,300,100,100italic,300italic,400italic&amp;subset=latin-ext"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/responsive.css"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico"/>
    <script src="/js/fb-app.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/css/portfolio.css"/>
  </head>
  <body>
    <div class="fixed-header-background"></div>
    <div class="wrapper">
      <div class="header">
        <div>(+40) 730 906 935
          <div class="break"></div><span class="desp">;&nbsp;&nbsp;</span>office@carpatsoft.com
        </div>
        <div><a href="http://www.carpatsoft.com"><img src="/img/en-flag.png" alt="English" title="English Language" description="English version of the Carpatsoft website"/></a><a href="http://www.carpatsoft.ro"><img src="/img/ro-flag.png" alt="Română" title="Limba Română" description="Varianta în limba română pentru site-ul Carpatsoft"/></a></div>
        <nav><a href="/">Acasa</a><a href="/services">Servicii</a><a href="/portfolio">Portofoliu</a><a href="/blog">Blog</a><a href="/about-us">Despre Noi</a><a href="/contact">Contact</a></nav>
        <div class="mobile-nav-toggle"><span></span></div>
        <div class="mobile-nav">
          <nav><a href="/">Acasa</a><a href="/services">Servicii</a><a href="/portfolio">Portofoliu</a><a href="/blog">Blog</a><a href="/about-us">Despre Noi</a><a href="/contact">Contact</a></nav>
        </div>
      </div>
      <div class="tint"></div>
      <div class="slider-behind"><a href="{{ page.sliderlink }}"><img src="{{ page.sliderimg }}" alt="Carpatsoft" class="slider-img"/></a>
        <div class="slider-front"><a href="index.html" alt="Carpatsoft Home" name="Carpatsoft Home"><img src="/img/logo-slider.png" alt="Oferta site in rate"/>
            <div></div><span>Manipulare Foto</span></a></div>
      </div>
      <section>
        <div class="items-wrap">
          <div class="single-item">
            <div class="menu-background-img"><img src="/img/menu-portfolio.jpg"/></div>
            <div class="portfolio-menu-wrapper"><a href="/portfolio" class="portfolio-menu">All</a><a href="/portfolio/website" class="portfolio-menu">Site-uri Web</a><a href="/portfolio/webdesign" class="portfolio-menu">Design Web</a><a href="/portfolio/seo" class="portfolio-menu">Optimizare SEO</a><a href="/portfolio/web-apps" class="portfolio-menu">Aplicații Web</a><a href="/portfolio/advertising" class="portfolio-menu">Advertising</a><a href="/portfolio/graphic-design" class="portfolio-menu">Design Grafic</a><a href="/portfolio/logo-design" class="portfolio-menu">Design Logo</a><a href="/portfolio/photo-manipulation" class="portfolio-menu">Manipulare Foto</a><a href="/portfolio/photography" class="portfolio-menu">Fotografie</a><a href="/portfolio/animation" class="portfolio-menu">Animație</a><a href="/portfolio/video-editing" class="portfolio-menu">Editare Video</a></div>
          </div>{% for post in site.categories.photo-manipulation %}
	<div class="single-item">
		<img src="/img/portfolio/{{ post.thumbimg }}" alt="{{ post.projectname }}" name="{{ post.projectname }}" class="item-thumb"/>
		<div class="single-header">{{ post.projectname }}</div>
		<a href="{{ post.url | prepend: site.baseurl }}" class="btn-blue btn-single-item">Details</a>
	</div>
{% endfor %}
        </div>
      </section>
    </div>
    <footer>
      <div class="container">
        <div class="col-4">
          <div class="title">CARPATSOFT</div>
          <nav><a href="/" alt="Carpatsoft Home">ACASĂ</a><a href="/services" alt="Carpatsoft Services">SERVICII</a><a href="/portfolio" alt="Carpatsoft Portfolio">PORTOFOLIU</a><a href="/careers" alt="Carpatsoft Careers">CARIERE</a><a href="/about-us" alt="Carpatsoft About Us">DESPRE NOI</a><a href="/contact" alt="Carpatsoft Contact">CONTACT</a></nav>
        </div>
        <div class="col-4">
          <div class="title">SERVICII</div>
          <nav><a href="/services/web-development" alt="Carpatsoft Dezvoltare Web">Dezvoltare Web</a><a href="/services/web-design" alt="Carpatsoft Design Web">Design Web</a><a href="/services/seo" alt="Carpatsoft Optimizare SEO">Optimizare SEO</a><a href="/services/web-apps" alt="Carpatsoft Aplicații Web">Aplicații Web</a><a href="/services/advertising" alt="Carpatsoft Advertising">Advertising</a><a href="/services/logo-design" alt="Carpatsoft Design Logo">Design Logo</a><a href="/services/graphic-design" alt="Carpatsoft Design Grafic">Design Grafic</a></nav>
        </div>
        <div class="col-4">
          <div class="title">PORTOFOLIU</div>
          <nav><a href="/portfolio/website" alt="Carpatsoft Site-uri Web">Site-uri Web</a><a href="/portfolio/webdesign" alt="Carpatsoft Design Web">Design Web</a><a href="/portfolio/seo" alt="Carpatsoft Optimizare SEO">Optimizare SEO</a><a href="/portfolio/web-apps" alt="Carpatsoft Aplicații Web">Aplicații Web</a><a href="/portfolio/advertising" alt="Carpatsoft Advertising">Advertising</a><a href="/portfolio/logo-design" alt="Carpatsoft Design Logo">Design Logo</a><a href="/portfolio/graphic-design" alt="Carpatsoft Design Grafic">Design Grafic</a></nav>
        </div>
        <div class="col-4"><img src="/img/footer-logo.png" alt="Carpatsoft" title="Carpatsoft Logo" description="Logo Carpatsoft"/>
          <div class="contact-footer">
            <p>C.U.I. 35327812, F30/753/15.12.2015</p>
            <p>16, Aleea Brateș, 400566 Cluj Napoca, Cluj, Romania</p>
            <p>(+40) 730 906 935</p>
            <p>office@carpatsoft.com</p>
          </div>
        </div>
        <div class="subfooter">
          <div class="social-icons"><a href="https://www.facebook.com/carpatsoft/" target="_blank" name="Facebook" alt="Facebook"><i class="fa fa-facebook fa-1x"></i></a>
            <!--a(href="#" target="_blank" name="Twitter" alt="Twitter")//i(class="fa fa-twitter fa-1x")
            -->
            <!--a(href="#" target="_blank" name="Google+" alt="Google+")//i(class="fa fa-google-plus fa-1x")
            -->
            <!--a(href="#" target="_blank" name="YouTube" alt="YouTube")//i(class="fa fa-youtube fa-1x")
            --><a href="https://www.linkedin.com/company/carpatsoft" target="_blank" name="LinkedIn" alt="LinkedIn"><i class="fa fa-linkedin fa-1x"></i></a>
            <!--a(href="#" target="_blank" name="Dribbble" alt="Dribbble")//i(class="fa fa-dribbble fa-1x")
            -->
            <!--a(href="#" target="_blank" name="Behance" alt="Behance")//i(class="fa fa-behance fa-1x")
            -->
          </div>&copy; 2015 Carpatsoft
        </div>
      </div>
      <script type="text/javascript">
        var sc_project=10814986;
        var sc_invisible=1;
        var sc_security="eb890377";
        var scJsHost = (("https:" == document.location.protocol) ?
        "https://secure." : "http://www.");
        document.write("<sc"+"ript type='text/javascript' src='" +
        scJsHost+
        "statcounter.com/counter/counter.js'></"+"script>");
        
      </script>
      <script src="http://code.jquery.com/jquery-1.11.3.min.js" type="text/javascript"></script>
      <script src="/js/index.js" type="text/javascript"></script>
      <script src="/js/portfolio.js" type="text/javascript"></script>
    </footer>
  </body>
</html>