
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}"/>
<meta keywords="{{ page.keywords }}"/>
<meta property="og:image:url" content="{{ page.ogimg }}"/>
<meta property="og:type" content="{{ page.ogtype }}"/>
<meta property="og:description" content="{{ page.description }}"/>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Great+Vibes|Roboto:400,300,100,100italic,300italic,400italic&amp;subset=latin-ext"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/css/responsive.css"/>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
<link rel="icon" type="image/x-icon" href="/img/favicon.ico"/>
<script src="/js/fb-app.js" type="text/javascript"></script>