
<div class="header">
  <div>(+40) 730 906 935
    <div class="break"></div><span class="desp">;&nbsp;&nbsp;</span>office@carpatsoft.com
  </div>
  <div><a href="http://www.carpatsoft.com"><img src="/img/en-flag.png" alt="English" title="English Language" description="English version of the Carpatsoft website"/></a><a href="http://www.carpatsoft.ro"><img src="/img/ro-flag.png" alt="Română" title="Limba Română" description="Varianta în limba română pentru site-ul Carpatsoft"/></a></div>
  <nav><a href="/">Acasa</a><a href="/services">Servicii</a><a href="/portfolio">Portofoliu</a><a href="/blog">Blog</a><a href="/about-us">Despre Noi</a><a href="/contact">Contact</a></nav>
  <div class="mobile-nav-toggle"><span></span></div>
  <div class="mobile-nav">
    <nav><a href="/">Acasa</a><a href="/services">Servicii</a><a href="/portfolio">Portofoliu</a><a href="/blog">Blog</a><a href="/about-us">Despre Noi</a><a href="/contact">Contact</a></nav>
  </div>
</div>
<div class="tint"></div>