.btn-blue {
  width: 150px;
  height: 25px;
  color: white;
  background-color: #06caea;
  display: block;
  text-decoration: none;
  text-align: center;
  font: 300 17px Roboto, sans-serif;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 2px 2px 0 0 #ccc;
}

.btn-blue:hover {
  background-color: #29dcfa;
  color: white;
  transition: 300ms ease-in-out;
}

.btn-section {
  float: right;
}

section {
  margin-top: 60px;
}

section .col-title {
  margin-top: 30px;
  width: 100%;
  margin-left: -10px;
  padding-left: 20px;
  height: 40px;
  font: 300 30px/40px Roboto, sans-serif;
  vertical-align: middle;
  background-color: #f7f7f7;
  display: block;
}

section *:first-child {
  margin-top: 0px;
}

section .portfolio-title {
  line-height: 80px !important;
}

section.overview {
  margin-top: 30px;
}

section.overview p {
  margin-left: 10px;
}

section.about {
  margin-top: 30px;
}

section.about p.contact-item {
  margin-left: 10px;
}

section.about p.contact-item i {
  margin-right: 10px;
  margin-top: -3px;
  color: #06caea;
}
